<div class="container">
  <section class="section-1">
    <div class="landing-img" *ngIf="showLanding"></div>
    <div class="start-img" *ngIf="showStart"></div>
  </section>
  <section class="section-2">
    <div class="button" (click)="onStart()" *ngIf="showButton">
      <img src="{{ buttonPath }}" />
    </div>
    <div *ngIf="!showButton" class="reset-container">
      <span class="game-over">GAME OVER</span>
      <div class="reset-button" (click)="onReset()">NEW GAME</div>
    </div>
    <div class="current-roll" *ngIf="showFirstRoll">
      <span>Roll 1 = {{ firstRoll }}</span>
    </div>
    <div>
      <app-score-card></app-score-card>
    </div>
  </section>
</div>
